.footer-logo {
	width:30px;
	margin-top: -10px;
	margin-right: 1px;
}

.concept-message {
	font-size: 5px;
	margin-left: 1%;
}

.bottom {
	width:100%;
	margin-left: 1%;
	margin-bottom: 3%;
}

.GourNaviLogo {
	width:20%;
	margin-left: 1%;
	margin-top: 2px;
}