.dashbord_img {
	width:400px;	
}

.rest_photo {
	width: 300px;
}

.portfolio-item {
    margin-bottom: 25px;
}

.table-font {
	font-size: 5px;
	color: black;
}

.non-decorate:hover {
	text-decoration: none;
}

.BGC:hover {
	background-color: #fffafa;
}