.gallery-div {
	margin-top: 15px;
	margin-left: -15px;
}

.menu-name {
	font-size: 15px;
	color: #4aa3df;
}

.menu-name:hover {
	font-size: 15px;
	color: #ff9a00;
}

.menu-ahref:hover {
	text-decoration: none;
}

.menu-price:hover {
	font-size: 15px;
	color: #ff9a00;
}
