/*お店の名前のディブ*/
.view-header-place-name-div {
	margin-bottom: 15px;
	margin-left: 55px;
}
/*お店の名前のフォント*/
.view-header-place-name {
	font-size: 20px;
}

/*電話のイメージ*/
.header-phone-image {
	width: 22px;
	margin-top: -7px;
}

.view-header-place-tel-number-div {
	margin-bottom: 15px;
}

.view-header-place-tel-number {
	font-size: 20px;
	color: #e74c3c
}

.view-header-label-div {
	margin-top: 5px;
}

.view-header-day-image {
	width:15px;
	margin-top: -2px;
}
