.Position {
	margin-top: 30px;
	text-align: center;
}

.INPUT-SHAPE {
	width:90%;
	height:34px !important;
}

.SELECT-SHAPE {
	width: 90% !important;
}

.cursor {

}

.cursor:hover {
	background-color: #f1c40f;
	cursor:pointer;
}

.container2 {
	width: 95%;
	padding-left: 5%;

}

.font-size {
	font-size: 10px;
}