.movie {
	width: 79%;
	height: 500px;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.center {
	text-align: center;
}

.top-movie-thmbnails {
	height:300px;
}

.reporter-img{
	width: 50px;
}

.restaurant-name:hover {
	text-decoration: none;
}

.black {
	color: black;
}

.black:hover {
	color: black;
}

.cursor {
	cursor:pointer;
}

.cursor:hover {
	background-color: #fffafa;
}