.header-logo {
	width:70px;
	margin-top: 10px;
	margin-left: 20px;
}
.text-align-center {
	text-align: center;
}


.header-margin {
	margin-top: 38px;
}

.header-profile-photo {
	width:40px;
	margin-top: 31px;
	margin-left: -20px;
}

.header-upload-button {
	margin-left: 0px;
}

.header-form {
	margin-left: -60px;
	margin-right: -10px;
}

.header-drop-button {
	margin-top: 38px;
	margin-right: 20px;
}

.reporter-img {
	width: 10px;
}