.select-page-button-area {
	margin-top: 90px;
	margin-left: 0px;
	margin-left: 15px;
	margin-right: 14px;
}

.select-page-button-div {

}

.select-movie-page-button {
	
}

.select-menu-page-button {
	background-color: #ffffff;
}

.select-menu-page-button:hover {
	background-color: #ff9a00;
}